@model Sistema_Cadastro_Produtos.Models.Produto

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Certeza que deseja excluir - @Html.DisplayFor(model => model.Descricao) ?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descrição")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayName("Preço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayName("Data da Compra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estoque)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
